@inject HttpClient _http
@inject NavigationManager _nav

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (UserId > 0 || _nav.Uri + "/" == _nav.ToAbsoluteUri("./").ToString() || _nav.Uri == _nav.ToAbsoluteUri("./").ToString())
        {
            <CascadingValue Value="UserId">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />

            </CascadingValue>

        }
        else
        {
            <p>loading portelem</p>
        }

    </Found>
    <NotFound>
        @BadRequestFragment
    </NotFound>
</Router>

@code {
    int UserId = 0;
    protected override async Task OnInitializedAsync()
    {
        _nav.LocationChanged += OnLocationChanged;
        await getUser();
    }

    public void Dispose()
    {
        _nav.LocationChanged -= OnLocationChanged;
    }

    async void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        await getUser();
        StateHasChanged();
    }

    async Task getUser()
    {

        var res = await _http.GetAsync("api/users");
        if (res.IsSuccessStatusCode)
        {
            UserId = res.Content.ReadFromJsonAsync<int>().Result;
        }
        else if (res.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            if (_nav.Uri + "/" != _nav.ToAbsoluteUri("./").ToString() && _nav.Uri != _nav.ToAbsoluteUri("./").ToString() && _nav.Uri != _nav.ToAbsoluteUri("../Game").ToString())
            {
                string url = res.Content.ReadAsStringAsync().Result;
                _nav.NavigateTo(url, true);

            }
        }
    }

    private RenderFragment BadRequestFragment => builder =>
       {
           _nav.NavigateTo("./badrequest");
       };
}

