@page "/badrequest"

<div class="not-found-container">
    <div class="not-found-content">
        <h1>מה קרה פה?</h1>

        <p>הדף שחיפשתם לא נמצא.</p>
        <img src="./assets-images/leafGPT.png" alt="Not Found Image" class="img-fluid mb-4" />

        <table class="main-table">
            <tr>
                <td>
                    <button @onclick="NavigateToHome" class="btn-main">חזרה לעמוד הראשי</button>
                </td>
            </tr>
        </table>
    </div>
</div>

@code {
    [Inject]
    NavigationManager Navigation { get; set; }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}

<style>
    .not-found-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .not-found-content {
        background: white;
        padding: 40px;
/*         border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px; */
        width: 100%;
    }

        .not-found-content img {
            width: 120px;
            height: 120px;
        }
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #333;
    }

    p {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 2rem;
    }

    .main-table {
        margin: 0 auto;
        width: 100%;
    }

    .btn-main {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        color: white;
        background-color: #007aff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .btn-main:hover {
            background-color: #005bb5;
        }
</style>
