.container-fluid {
    border-radius: 7px;
    box-shadow: -1px -1px 12px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
   margin-bottom: 10px;
   
}

.main-content {
    border-radius: 7px;
    background-color: #fff; /* Optional: depends on your design preference */
    padding: 10px; /* Provide some spacing inside the content area */
}

.sidebar-panel {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.sidebar-button {
    margin: 5px;
    background: linear-gradient(to bottom right, #3A4148, #212529); /* Dark gradient background */
}


.enterExitText {
    padding: 10px;
    color: #ccc;
    text-shadow: 0 0 8px #ffffff; /* White glow for emphasis on text */
}

/* Sidebar Styles */
.sidebar {
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: linear-gradient(to bottom right, #3A4148, #212529); /* Dark gradient background */
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.sidebar-heading {
    text-shadow: 0 0 12px black; /* White glow for emphasis on text */
}

/* Improved Button Styles */
.sidebar-button {
    margin: 5px;
    background-color: #6c757d;
    border: none;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for neumorphism */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for interaction */
}

.sidebar-button:hover, .sidebar-button:focus {
     transform: translateY(-2px);
     box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3); /* Elevated shadow on hover */
}

.settingsButton {
    margin-top: 18px;
    margin-bottom: 18px;
}


@keyframes shiny {
    0% {
        background-position: -200%;
    }

    100% {
        background-position: 200%;
    }
}

.btn-success {
    background: linear-gradient(to right, #23913B 25%, #28a745 50%, #23913B 75%);
    background-size: 200% auto;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); /* Elevated shadow */
    animation: shiny 3s linear infinite; /* Shiny animation */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transitions for color changes */
    position: relative;
    overflow: hidden;
}

    /* Happy smiley face for .btn-success */
    .btn-success::after {
        content: "☺";
        font-size: 26px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
    }

    /* Hide original text and show happy smiley on hover */
    .btn-success:hover::after {
        opacity: 1;
    }

    .btn-success:hover .button-text {
        opacity: 0;
        transition: opacity 0.5s;
    }

/* Overall text and link enhancements for better readability and effect */
a.text-white {
    text-decoration: none;
    opacity: 0.9; /* Slightly dim links for focus on interaction */
}

a.text-white:hover {
    opacity: 1; /* Brighten on hover for interactivity */
}

.stagesAndQuestions
{
}
/*on narrow sized screens no box shadow to conatiner-fluid*/
@media (max-width: 768px) {
    .container-fluid {
        box-shadow: none;
    }
}


/* Existing class */
.btn-danger {
    color: #880808;
    background-color: #CCB7B7;
    border-color: #CCB7B7;
    position: relative;
    overflow: hidden;
}

    /* Create a span inside the button for the sad smiley */
    .btn-danger::after {
        content: "☹";
        color: #880808;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
    }

    /* Hide original text and show sad smiley on hover */
    .btn-danger:hover::after {
        opacity: 1;
    }

    .btn-danger:hover .button-text {
        opacity: 0;
        transition: opacity 0.5s;
    }
