.img-text-container {
    position: relative;
    justify-content: center;
}

.img-fluid {
    justify-content: center;
}

.inner {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 4vw;
    justify-content: center;
}

@media (min-width: 576px) 
{
    .inner {
        font-size: 1.5vw;
    }

}
.fa-circle-info {
    padding-right: 4px;
    font-size: 12px;
}


.image-upload-icon {
    top: 50%;
    left: 50%;
    font-size: 1.9rem;
    color: #6c757d;
    cursor: pointer;
}

    .image-upload-icon:hover {
        color: #007bff;
    }

/* Scrollable Table Body */
.scrollable-table-body {
    display: block;
    height: 390px;
    max-height: 440px; /* Adjust based on the height needed to show 10 rows */
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl; /* Add RTL direction */
}

/* Table */
.table {
    width: 100%;
    table-layout: fixed;
    direction: rtl; /* Add RTL direction */
}

    .table th, .table td {
        padding: 10px;
        text-align: right; /* Align text to the right */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.table-hover tbody tr:hover td {
    background-color: #e9ecef;
}

/* Truncated Text */
.truncate-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Scrollbar Styles */
.scrollable-table-body::-webkit-scrollbar {
    width: 12px;
}

.scrollable-table-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable-table-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    .scrollable-table-body::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    .form-check-input {
        border: 2px orange solid;
    }


        .form-check-input:disabled {
            background-color: #e9ecef;
            border: 1px gray solid;
        }

        .form-check-input:checked {
            background-color: green;
            border: 1px green solid;
        }