.img-text-container {
    position: relative;
}

.inner {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 4vw;   
}

@media (min-width: 576px) 
{
    .inner {
        font-size: 1.5vw;
    }

}
