<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-3">בחרו דוכן</h1>
            <p class="mb-4">בוחרים דוכן, מינימום פרסום - 2 דוכנים ו20 שאלות</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-1">
            <div class="card h-100">
                <img src="./assets-images/stageBottles1.png" class="card-img-top" alt="Image description">
                <div class="card-body">
                    <h5 class="card-title">דוכן שבירת בקבוקים</h5>
                    <p class="card-text">תיאור קצר על הדוכן.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@($"#modal1")>מידע</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-1">
            <div class="card h-100">
                <img src="./assets-images/stageTarget2.png" class="card-img-top" alt="Image description">
                <div class="card-body">
                    <h5 class="card-title">דוכן פגיעה במטרה</h5>
                    <p class="card-text">תיאור קצר על הדוכן.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@($"#modal2")>מידע</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-1">
            <div class="card h-100">
                <img src="./assets-images/stageHit3.png" class="card-img-top" alt="Image description">
                <div class="card-body">
                    <h5 class="card-title">דוכן פגיעה בתשובה</h5>
                    <p class="card-text">תיאור קצר על הדוכן.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@($"#modal3")>מידע</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-1">
            <div class="card h-100">
                <img src="./assets-images/stageSlash4.png" class="card-img-top" alt="Image description">
                <div class="card-body">
                    <h5 class="card-title">דוכן לחתוך תשובות</h5>
                    <p class="card-text">תיאור קצר על הדוכן.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@($"#modal4")>מידע</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id=@($"modal1") tabindex="-1" aria-labelledby=@($"modalLabel1") aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=@($"modalLabel1")>שבירת בקבוקים</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                בדוכן זה תוכלו לשבור בקבוקים ולזכות בפרסים נחמדים
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">הבנתי</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id=@($"modal2") tabindex="-1" aria-labelledby=@($"modalLabel2") aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=@($"modalLabel2")>פגיעה במטרה</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                בדוכן זה תוכלו לפגוע במטרה ולזכות בפרסים נחמדים
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">הבנתי</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id=@($"modal3") tabindex="-1" aria-labelledby=@($"modalLabel3") aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=@($"modalLabel3")>פגיעה בתשובה</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                בדוכן זה תוכלו לפגוע בתשובה ולזכות בפרסים נחמדים
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">הבנתי</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id=@($"modal4") tabindex="-1" aria-labelledby=@($"modalLabel4") aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=@($"modalLabel4")>לחתוך תשובות</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                בדוכן זה תוכלו לחתוך תשובות ולזכות בפרסים נחמדים
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">הבנתי</button>
            </div>
        </div>
    </div>
</div>