#gameImageAdded {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    margin: 0 auto;
    height: 50px;
    position: relative; /* Ensure the z-index works correctly */
    z-index: 1; /* Initial z-index */
    transition: transform 0.5s, z-index 0s;
    background: white;
}

.fa-trash {
    padding: 5px;
}

    .fa-trash:hover {
        color: red;
        cursor: pointer;
    }

#gameImageAdded:hover {
    transform: scale(3);
    z-index: 1000; /* Ensure the image appears on top of other elements */
    background: white;
}

