
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1>בחרו דוכן</h1>
            <span>בוחרים דוכן , מינימום פרסום - 2 דוכנים ו20 שאלות</span>
        </div>
    </div>
    <div class="row">

        <iframe src="https://giladbronshtein.github.io/SenseiAnimate/senseitest.html" width="100%" height="520px"></iframe>
</div>
</div>


@code {

}
