.scrollable-table-body {
    display: block;
    max-height: 380px; /* Adjust based on the height needed to show 10 rows */
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group-append {
    margin-left: 0.5rem; /* Adjust as needed for spacing */
}

.input-group-text {
    background-color: transparent; /* or any color that fits your design */
    border: none; /* Adjust or remove as per your design */
    color: #495057; /* Match the color with your design */
    padding-left: 0.5rem; /* Spacing inside the span */
    padding-right: 0.5rem; /* Spacing inside the span */
}

.mb-3 {
    display: flex; /* This will put the input and counter side by side */
    align-items: center; /* This will vertically center them */
    gap: 0.5rem; /* This provides some space between the input and the counter */
}

    .mb-3 .form-control {
        flex-grow: 1; /* This will make the input take up the available space */
    }

    .mb-3 span {
        white-space: nowrap; /* This prevents the counter from wrapping */
    }

.text-good {
    color: green;
}

.text-warning {
    color: orange;
}

.text-danger {
    color: red;
}

.text-muted {
    color: #6c757d; /* Default color, change as needed */
}

input#question::placeholder {
    color: #ced4da !important; /* Use !important to override other styles if necessary */
    font-size: 0.875rem !important; /* Use !important to override other styles if necessary */
}

.delete-image-btn {
    padding: 5px;
}

    .delete-image-btn:hover {
        color: red;
        cursor: pointer;
    }

.QuestionImage {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    margin: 0 auto;
}

    .QuestionImage:hover {
        transform: scale(3);
        transition: transform 0.5s;
        z-index: 1;
    }

.info {
    color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

    .info:hover {
        color: blue;
    }


.scrollable-table-body {
    max-height: 440px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

    .table th, .table td {
        overflow: hidden;
    }

.truncate-text {
    width: 100%; /* Ensure text fits the width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table .col-md-6 {
    width: 55%;
}

.btn-outline-primary, .btn-outline-danger {
    padding: 1px 4px;
    text-align: center;
    justify-content: center;
}
