#gameImageAdded {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    margin: 0 auto;
    height: 50px;

}
.fa-trash{
    padding: 5px;
}
.fa-trash:hover {
    color: red;
    cursor: pointer;
}
/*upon gameimageadded clicked, show image enlarged*/
#gameImageAdded:hover {
    transform: scale(3);
    transition: transform 0.5s;
    z-index: 1;
}

