.tooltip-wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
    cursor: pointer;
}

#spanText {
    visibility: hidden;
    position: fixed;
    width: 250px;
    /*    bottom: 1%;
    left: 50%;*/
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    font: bold 14px arimo;
    text-align: center;
    padding: 10px 8px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

    #spanText::after {
        content: " ";
        position: relative;
        bottom: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
        opacity: 0;
        transition: opacity 1s;
    }

.tooltip-wrapper:hover #spanText {
    visibility: visible;
    transition: opacity 0.3s;
    opacity: 1;
}